body{
    background-repeat: no-repeat;
    margin:0;
}

.container{
    display: inline-block;
    padding: 10px;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}